#title{
	font-weight:bold;
}
#blocs{
	margin-top:10px;
	max-width:500px;		
	
}
.bloc-wrapper{
	overflow: hidden;
}
.blocs-titre{
	font-weight:bold;
}
.blocs{
	border-style: inset;
	max-width:40%;
}
.column-left{
	float:left; /* add this */	
}
.column-right{
	overflow: hidden;
	margin-left:42%;
}

label {
	display: inline-block;
	width: 85px;
	color: #777777;
      }
input {
	padding: 5px 10px;
	width:30px;
	display: inline-block;
  }
.result{
	display: inline-block;
	min-width: 30px;
	padding-left: 5px;
	color:green;
	font-weight: bold;
    font-size: 0.9em;
  }
divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
body{
	max-width:500px;
}
#tableau{
	margin-top:10px;
}
#btncalcul{
	width:auto;
}
 

